- all_tax_names = Tax.all.map {|t| t.description.gsub("\n","").strip}.join(",")
- headers = ["datetime",
             "agent",
             "transaction_id",
             "access_token",
             "braintree_id",
             "reservation_code",
             "redemption_code",
             "first_name",
             "last_name",
             "email",
             "phone",
             "promo_id",
             "company",
             "description",
             "tax_summary",
             all_tax_names,
             "sku_price",
             "sku_taxes",
             "sku_total",
             "transaction_total"]
= CSV.generate_line headers
- txn_ids = []
-# http://localhost:5000/api/admin/transactions/admissions_report.csv?min_date=1509519600&max_date=1510763832
- @admissions.each do |admission|
  - summary = admission.ticket_data.dig("summary") || {}
  - promotion = admission.promotion
  - bt_id = admission.ticket_data.dig("summary", "braintree_id") || "NA"
  - bt_link = "https://www.braintreegateway.com/merchants/#{ENV["BT_MERCHANT_ID"]}/transactions/#{bt_id}"
  - access_token = admission.ticket_data.dig("summary", "access_token") || admission.txn.access_token
  - tickets_link = "http://us.ticketingforless.com/t/#{access_token}"
  - all_taxes = Tax.all.map {|t| summary["redemption_code"] != '-' ? '-' : promotion.calculate_tax(t)}
  = CSV.generate_line([admission.txn.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M%P %Z'),
    summary["agent"],
    summary["transaction_id"],
    "=HYPERLINK(\"#{tickets_link}\", \"#{access_token || "-"}\")",
    "=HYPERLINK(\"#{bt_link}\", \"#{bt_id}\")",
    summary["reservation_code"],
    summary["redemption_code"],
    summary["first_name"],
    summary["last_name"],
    summary["email"],
    summary["phone"],
    summary["promo_id"],
    summary["company"],
    summary["description"],
    summary["tax_summary"],
    all_taxes,
    summary["sku_price"],
    summary["sku_taxes"],
    summary["sku_total"],
    "$#{summary["transaction_total"]}"].flatten).html_safe
  - unless txn_ids.index(admission.txn.id) || admission.txn.details.try(:total_in_cents) === 0
    - txn = admission.txn
    - txn_ids << txn.id
    - bt_id = txn.details.try(:bt_id)
    - bt_link = "https://www.braintreegateway.com/merchants/#{ENV["BT_MERCHANT_ID"]}/transactions/#{bt_id}"
    - tickets_link = "http://us.ticketingforless.com/t/#{txn.access_token}"
    - all_taxes = Tax.all.map {''}
    = CSV.generate_line([txn.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M%P %Z'),
      '-',
      txn.id,
      "=HYPERLINK(\"#{tickets_link}\", \"#{txn.access_token || "-"}\")",
      "=HYPERLINK(\"#{bt_link}\", \"#{bt_id}\")",
      '-',
      '-',
      '-',
      '-',
      '-',
      '-',
      '-',
      'Fees:',
      'Transaction Fee',
      '-',
      Tax.all.map {'-'},
      "$1.99",
      "$0.00",
      "$1.99",
      "$#{(txn.details.try(:total_in_cents) || 0).to_f/100}"].flatten).html_safe
