<%= form_for([@attraction, attraction_sku]) do |f| %>
  <% if attraction_sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attraction_sku.errors.count, "error") %> prohibited this attraction_sku from being saved:</h2>

      <ul>
      <% attraction_sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <style>
    input,textarea {
      display: block;
    }
  </style>
  <%= f.text_field :description, { placeholder: 'description', style: 'width: 50%;' } %>
  <label>
    Background:
  <%= f.file_field :background %>
</label>
  <%= f.text_field :question, { placeholder: 'CT question to show' } %>
  <label>
    Redemption default:
    <%= f.check_box :redemption_default %>
  </label>
  <label>
    Creates admission:
    <%= f.check_box :creates_admission %>
  </label>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
