<p id="notice"><%= notice %></p>

<h1><%= @attraction.name %> SKUs</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>SKU</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @attraction_skus.each do |attraction_sku| %>
      <tr>
        <td><%= attraction_sku.id %></td>
        <td><%= attraction_sku.description %></td>
        <td><%= link_to 'Show', attraction_sku_path(@attraction, attraction_sku) %></td>
        <td><%= link_to 'Edit', edit_attraction_sku_path(@attraction, attraction_sku) %></td>
        <td><%= link_to 'Destroy', attraction_sku_path(@attraction, attraction_sku), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New SKU', new_attraction_sku_path(@attraction) %>
