<%= link_to 'Show attraction', @attraction %> |
<%= link_to 'View all attractions', attractions_path %>

<h3>Editing: <%= @attraction.name %> </h3>

<%= render 'form', attraction: @attraction %>

<h4>Upload redemptions</h4>
<%= form_tag({action: :bulk_redemptions}, multipart: true) do %>
  <%= file_field_tag 'csv', { required: true } %>
  <input type='submit' value='Upload redemptions'/>
<% end %>
