<p id="notice"><%= notice %></p>
<h3><%= @attraction.name %></h3>
<div>
  <%= link_to 'Edit this attraction', edit_attraction_path(@attraction) %> |
  <%= link_to 'View all attractions', attractions_path %> |
  <%= link_to 'View all skus for this attraction', attraction_skus_path(@attraction) %>
</div>
<dl>
  <dt>Redemption Prefix</dt>
  <dd><%= @attraction.redemption_prefix %></dd>
  <dt>Expiry Window (in seconds; 0 means no expiry)</dt>
  <dd><%= @attraction.expiry_window %></dd>
  <dt>Symbology (if none then no barcode will be produced)</dt>
  <dd><%= @attraction.symbology %></dd>
</dl>
<div>
  <h4>Layout</h4>
  <pre>
    <%= @attraction.layout %>
  </pre>
</div>
